{% extends 'CashierHomeIndex.html' %}
{% block body %}
<body>
    <form action="/AI_menu/Search_View_bills/"method="post">
    {% csrf_token %}
    <table align="center"class="table table-bordered">
        <tr>
            <th>From</th>
            <td><input type="date"name="from"class="form-control"required></td>
            <th>To</th>
            <td><input type="date"name="to"class="form-control"required></td>
            <td><input type="submit"value="Search"class="btn btn-outline-warning"></td>
        </tr>
    </table>
        <table align="center"class="table table-bordered">
            <tr style="background-color:#ffc945 ">
                <th>Sl.No</th>
                <th>Customer name</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>amount</th>
                <th>date</th>
                <th>Account No.</th>
                <th>Payment date</th>

            </tr>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.cname }}</td>
                <td>{{ i.item }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.amount }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.acc_no }}</td>
                <td>{{ i.pdate }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
{% endblock %}