{% extends 'AdminHomeindex.html' %}
{% block body %}
<body>
<form action="/AI_menu/Add_Menu_post/"method="post"enctype="multipart/form-data">
    {% csrf_token %}
    <table  align="center" class="table table-bordered">
        <tr>
            <th>Item name</th>
            <td><input type="text"name="itemname" class="form-control"pattern="[A-Z /a-z]+"required></td>
        </tr>
        <tr>
            <th>Photo</th>
            <td><input type="file"name="photo"class="form-control"required></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="description"class="form-control" pattern="[A-Z /a-z]+"required></textarea></td>
        </tr>
        <tr><th>Price</th>
        <td><input type="number"name="price"class="form-control"pattern = "[0-9]"required></td></tr>
        <tr>
            <td align="center"colspan="2"><input type="submit"value="Add"class="btn btn-outline-success"></td>
        </tr>
    </table>
</form>
</body>
{% endblock %}