<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
    <a href="/AI_menu/Admin_change_pswd/">Change Password</a>
    <a href="/AI_menu/Add_Staff/">Add Staff</a>
    <a href="/AI_menu/View_Staff/">View Staff</a>
    <a href="/AI_menu/Add_Menu/">Add Menu</a>
    <a href="/AI_menu/View_Menu/">View Menu</a>
    <a href="/AI_menu/Add_Tdyscpcl/">Add Today's Special</a>
    <a href="/AI_menu/View_Tdyscpcl/">View Today's Special</a>
    <a href="/AI_menu/Add_Table/">Add Table</a>
    <a href="/AI_menu/View_Table/">View Table</a>
    <a href="/AI_menu/View_customers/">View customers</a>
    <a href="/AI_menu/View_complaints/">View Complaints</a>
    <a href="/AI_menu/View_Reports/">View Reports</a>
    <a href="/AI_menu/View_Orders/">View Orders</a>
    <a href="/AI_menu/logout/">Logout</a>
</pre>
</body>
</html>