{% extends 'AdminHomeindex.html' %}
{% block body %}
<body>
<form action="/AI_menu/Edit_Table_post/"method="post">
    {% csrf_token %}
    <table align="center"class="table table-bordered">
    <tr>
        <input type="hidden"name="id1"value="{{ data.id }}">
        <th>Table No.</th>
        <td><input type="number"name="tabno"value="{{ data.table_no }}"class="form-control"required></td>
    </tr>
        <tr>
        <th>No.of Seats</th>
        <td><input type="number"name="seats"value="{{ data.no_of_seats }}"class="form-control"required></td>
    </tr>
    <tr><td align="center"colspan="2"><input type="submit"value="Update"class="btn btn-outline-success"></td></tr>
</table></form>
</body>
{% endblock %}