{% extends 'AdminHomeindex.html' %}
{% block body %}
<body>
<form action="/AI_menu/Send_reply_post/"method="post">
    {% csrf_token %}
    <table align="center"class="table table-bordered">
        <tr>
            <input type="hidden"name="id1"value="{{ data.id }}">
            <th>Reply</th>
            <td><textarea name="reply" class="form-control" pattern="[A-Z /a-z]+"required></textarea></td>
        </tr>
        <tr><td align="center"colspan="2"><input type="submit"value="Reply"class="btn btn-outline-success"> </td></tr>
    </table>
</form>
</body>
{% endblock %}