{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<form action="/AI_menu/login_post/"method="post">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#        <tr><th>Username</th>#}
{#        <td><input type="text"name="username"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>Password</th>#}
{#            <td><input type="password"name="password"></td>#}
{#        </tr>#}
{#        <tr><td><input type="submit"value="Login"></td></tr>#}
{#    </table>#}
{#</form>#}
{#</body>#}
{#</html>#}



<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Donuts Login Form a Flat Responsive Widget Template :: w3layouts </title>
		<!-- Meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Donuts Login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
	/>
		<script>
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
		<!-- Meta tags -->
		<!-- font-awesome icons -->
		<link rel="stylesheet" href="/static/login/css/font-awesome.min.css" />
		<!-- //font-awesome icons -->
		<!--stylesheets-->
		<link href="/static/login/css/style.css" rel='stylesheet' type='text/css' media="all">
			<!--//style sheet end here-->
			<link href="//fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
				<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
				</head>
				<body>
					<h1 class="header-w3ls">
		AI-Menu</h1>
					<div class="mid-cls">
						<div class="swm-right-w3ls">
							<form action="/AI_menu/login_post/" method="post">
                                {% csrf_token %}
								<div class=" header-side">
{#									<h4>Login With Social Icons</h4>#}
{#									<div class="buttom-social-grids">#}
{#										<ul>#}
{#											<li>#}
{#												<a href="#">#}
{#													<span class="fa fa-facebook"></span>#}
{#												</a>#}
{#											</li>#}
{#											<li>#}
{#												<a href="#">#}
{#													<span class="fa fa-twitter"></span>#}
{#												</a>#}
{#											</li>#}
{#											<li>#}
{#												<a href="#">#}
{#													<span class="fa fa-vk"></span>#}
{#												</a>#}
{#											</li>#}
{#										</ul>#}
{#									</div>#}
								</div>
								<div class="main">
									<div class="icon-head">
										<h2>Login</h2>
									</div>
									<div class="form-left-w3l">
										<input type="email" name="username" placeholder="Email" required="">
											<div class="clear"></div>
										</div>
										<div class="form-right-w3ls ">
											<input type="password" name="password" placeholder="Password" required="">
												<div class="clear"></div>
											</div>
											<div class="btnn">
												<button type="submit">LOGIN</button>
												<br>
{#													<a href="#" class="for" >Forgot password...?</a>#}
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="copy">
									<p>&copy;2023  AI-Menu. All Rights Reserved | Design by
										<a href="" target="_blank">AI-Menu</a>
									</p>
								</div>
							</body>
						</html>